<app-blank title="Ürün Güncelleme" sectionTitle="Ürün Guncelleme">
  <div class="row center">
    <div class="col-md-6">
      <form #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
        <div class="form-group">
          <label for="name">Ürün Adı</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="name"
            #name
            [(ngModel)] = "product.name"
            required
            minlength="3"
            [appValid]="name.validity.valid"
          />
          <div class="invalid-feedback">
            Ürün adı en az 3 karakter olmalıdır.
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="categoriesSelect">Kategoriler</label>
          <select
            class="form-control"
            name="categoriesSelect"
            id="categoriesSelect"
            [(ngModel)] = "product.categories"
            multiple
            #categoriesSelect
          >
            <option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group mt-2">
          <label for="stock">Stok Adeti</label>
          <input
            class="form-control"
            type="number"
            name="stock"
            id="stock"
            #stock
            [(ngModel)] = "product.stock"
            required
            min="1"
            [appValid]="stock.validity.valid"
          />
          <div class="invalid-feedback">Ürün stok adedi en az 1 olmalıdır.</div>
        </div>
        <div class="form-group mt-2">
          <label for="price">Birim Fiyatı</label>
          <input
            class="form-control"
            type="number"
            name="price"
            id="price"
            #price
            [(ngModel)] = "product.price"
            required
            min="1"
            [appValid]="price.validity.valid"
          />
          <div class="invalid-feedback">
            Ürün birim fiyatı en az 1 olmalıdır.
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="images">Ürün Resimleri</label>
          <input
            class="form-control"
            type="file"
            name="images"
            id="images"
            #images
            ngModel
            multiple
            (change)="getImages($event)"
          />
        </div>
        <hr />
        <div class="form-group mt-2">
          <p>Mevut Resimler</p>
          <span
            *ngFor="let image of product.imageUrls; let i = index"
            (click)="deleteImage(product._id,i)"
          >
            <img [src]="'http://localhost:5000/'+image.path" width="100" class="mx-1" />
          </span>
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-warning w-100">Güncelle</button>
        </div>
      </form>
    </div>
  </div>
</app-blank>
