<app-blank title="Sipariş" sectionTitle="Siparişler">

        <app-table [headers]="headers">
          <tr *ngFor="let order of orders; let index = index">
            <td>{{ index + 1 }}</td>
            <td class="text-center">{{order.createDate|date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td class="text-center">
              <img
                *ngIf="order && order.products[0].imageUrls"
                [src]="
                  'http://localhost:5000/' + order.products[0].imageUrls[0].path
                "
                width="50"
              />
            </td>
            <td>
              {{ order.products[0].name }}
            </td>
            <td class="text-center">
              {{ order.quantity }}
            </td>
            <td>{{ +order.price.toFixed(2) | trCurrency : "₺" }}</td>
            <td>
              {{
                +(order.quantity * order.price).toFixed(2) | trCurrency : "₺"
              }}
            </td>
          </tr>
        </app-table>
  </app-blank>
  